@font-face {
  font-family: "beans";
  src: url(fonts/webfontkit-20241219-150657/coffee_town-webfont.woff2),
    url(fonts/webfontkit-20241219-150657/coffee_town-webfont.woff);
  font-weight: normal;
  font-style: normal;
}
:root {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(Logo/najib-kalil-gHQxwXFj15o-unsplash.jpg);
  background-size: cover;
  flex-grow: 2;
  position: relative;
}

.logoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
  gap: 1rem;
  position: absolute;
  top: 5em;
  align-self: stretch;
  width: 100%;
}

img {
  width: 150px;
}

.headerText {
  font-family: beans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  flex-wrap: nowrap;
  color: white;
}

main {
  flex-grow: 3;
}
