@font-face {
  font-family: "beans";
  src: url(fonts/webfontkit-20241219-150657/coffee_town-webfont.woff2),
    url(fonts/webfontkit-20241219-150657/coffee_town-webfont.woff);
  font-weight: normal;
  font-style: normal;
}
:root {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(Logo/najib-kalil-gHQxwXFj15o-unsplash.jpg);
  background-size: cover;
  position: relative;
  flex: auto;
}

.logoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
  gap: 1rem;
  position: absolute;
  top: 6rem;
  align-self: stretch;
  width: 100%;
}

img {
  max-width: 150px;
}

.headerText {
  font-family: beans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  color: white;
  max-width: 100%;
}

main {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-width: 60%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  align-self: stretch;
  padding: 3rem;
  gap: 2rem;
}

.text {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  max-width: 80%;
}

#longText {
  margin-top: 8rem;
}

#form {
  display: flex;
  align-self: stretch;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.15);
}

#myForm {
  align-self: stretch;
  margin-left: 3rem;
}

.inputs {
  display: flex;
  gap: 4rem;
}

ul.text {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

li {
  display: flex;
  flex-direction: column;
  color: #2c2c2c;
  font-size: 0.8rem;
  gap: 0.5rem;
}

#formName {
  color: #2c2c2c;
}

button {
  max-width: 17rem;
  padding: 1rem;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: solid 2px rgba(0, 0, 0, 0);
  background-color: rgba(41, 82, 0, 0.774);
  color: white;
}

button:hover {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.295);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(165, 91, 42, 0.116);
  height: 100%;
}

.down {
  margin-left: 3rem;
  margin-top: 2rem;
}

#account {
  font-size: 0.9rem;
  font-weight: bold;
}

input {
  border: solid 1.5px #e5e7eb;
  border-radius: 0.3rem;
  width: 294px;
  height: 30px;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 0.23rem;
}

input:focus {
  outline: none;
  border: solid 1.5px rgba(0, 3, 165, 0.808);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.295);
}

#pwd:invalid,
#conf-pwd:invalid {
  border-color: rgba(228, 20, 20, 0.5);
}
