@font-face {
  font-family: "beans";
  src: url(fonts/webfontkit-20241219-150657/coffee_town-webfont.woff2),
    url(fonts/webfontkit-20241219-150657/coffee_town-webfont.woff);
  font-weight: normal;
  font-style: normal;
}
